.footer{
    text-align: center;
    margin-top: 40px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    border-top: 1px solid #989898;
    padding: 15px 0px;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.footer p{
    text-align: center;
}

.footer ul{
    display: flex;
    gap: 40px;
    list-style: none;
    justify-content: space-around;
}
.footer ul li{
    cursor: pointer;
}